@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fuente personalizada */
body {
  @apply bg-background text-textPrimary font-sans;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
